# Backend API Base URL
VITE_BASE_URL=https://doctorbooking-2wjk.onrender.com

# Image / Static Uploads Base URL
VITE_IMAGE_BASE_URL=https://doctorbooking-2wjk.onrender.com

# WebSocket Server URL
VITE_SOCKET_URL=https://doctorbooking-2wjk.onrender.com
