# Port number
PORT=5001
soket_port=3002

# URL of the MongoDB database
MONGODB_URL=mongodb://localhost:27017/shadatvai

NODE_ENV=development

# JWT Configuration
JWT_SECRET=72b6597c9a137bbe5e36862c592e90a5c88652494f37d6da57894888763d49cd
JWT_ACCESS_EXPIRATION_MINUTES=30000
JWT_REFRESH_EXPIRATION_DAYS=30000
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

CONTACT_US_EMAIL=shadathossan3500@gmail.com

# SMTP configuration options for the email service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=sh543132@gmail.com
SMTP_PASSWORD=ebf gbbl cmk xws
EMAIL_FROM=sh543132@gmail.com

BACKEND_IP=localhost

# Stripe Keys (optional)
STRIPE_SECRET_KEY=your-Stripe-secret 
STRIPE_WEBHOOK_SECRET=your-webhook

# Web Push VAPID
VAPID_MAILTO="mailto:shadathossan3500@gmail.com"
VAPID_PUBLIC_KEY=BBqBu9k22y2voG_UUAzJMKJRW7zX3RobLnzlfqeqNN8tDW9PR3pM4W187cS0jP7PdNuNWyDywJKWyHFoGZJqVCY
VAPID_PRIVATE_KEY=n53Dk-VoDVurSO0rGv7QDjRSQa6fcBwwGkPPkdsZsUA

# Agora Audio / Video Tokens
AGORA_APP_ID=f5a7855e03644fd79c630b4b091ede65
AGORA_APP_CERTIFICATE=44f73d58e29c4c6984372662d85352c6

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=fahim1213456
CLOUDINARY_API_KEY=554889398149233
CLOUDINARY_API_SECRET=xOh9Pctuw1UhBuRrj_XuP79ubbA

